.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box p {
  display: flex;
  font-size: 2000%;
  justify-content: center;
  flex-direction: column;
}

.correct {
  background: green !important;
}

.incorrect {
  background: red !important;
}

#letter-small {
  text-align: center;
  font-size: 500%;
}
