.wrapper {
  width: 100%;
  min-height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box p {
  font-size: 2000%;
  color: white;
}

p {
  color: white;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}
