*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
